<footer id="footer">
  <div class="outer">
    <div id="footer-info" class="inner">
      <%- partial('plugins/sites/visit') %>
      <p>
        Powered by <!-- <a href="https://wzhct.github.io/hy/" target="_blank">晗影室内设计</a>咨询有限公司
        <a href="https://wzhct.github.io/hy/" target="_blank">版权所有</a> -->&nbsp武汉晗影室内设计咨询有限公司 &nbsp&nbsp版权所有
      &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %><br>
      </p>
    </div>
  </div>
</footer>